<div>
  <div class="font-semibold mb-10">
    <p class="text-fs-xs-title mb-8">My Profile</p>
    <p class="text-fs-h1">
      10000$ <span class="text-primary-600 text-fs-sm-title">Balance</span>
    </p>
  </div>

  <div class="flex gap-8">
    <div class="font-medium flex flex-col gap-8">
      <p>First Name :</p>
      <p>Email :</p>
      <p>Phone :</p>
      <p>Gender :</p>
    </div>
    <div class="text-gray-1200 flex flex-col gap-8">
      <p>Jonathon Smith</p>
      <p>jhonathonsmith&commat;gmail.com</p>
      <p>+880125412624</p>
      <p>Male</p>
    </div>
  </div>
</div>
