<section
  class="hero w-full h-[800px] bg-cover bg-blend-darken flex justify-center items-center gap-16"
>
  <div class="text-white font-semibold flex flex-col gap-5">
    <p class="text-fs-p">Simple. Quick. Secure.</p>
    <h1 class="text-fs-h1 leading-[1.2]">
      Send Money <br />Anywhere, Instantly
    </h1>
    <p class="font-medium">
      Fast, secure, and affordable international money transfers. Get started in
      minutes
    </p>
    <a
      routerLink="/register"
      class="mt-12 h-[56px] w-[192px] bg-primary-500 flex justify-center items-center"
      >Create An Account</a
    >
  </div>

  <app-currency-dropdown></app-currency-dropdown>
</section>
