<nav class="h-[91px] w-full flex justify-around items-center">
  <h1 class="text-fs-sm-title font-semibold">Speedo Transfer</h1>
  <div class="flex gap-4">
    <a routerLink="" class="font-medium">Home</a>
    <a routerLink="/transfer-money" class="font-medium">Money Transfer</a>
    <a routerLink="" class="font-medium">My Account</a>
  </div>
  <div class="flex gap-3">
    <a
      routerLink="/login"
      class="border border-gray-1400 px-5 py-2 rounded-md font-medium hover:bg-primary-500 hover:text-white transition-colors delay-150"
      >Login</a
    >
    <a
      routerLink="/register"
      class="bg-primary-500 px-5 py-2 text-white rounded-md font-medium hover:bg-primary-600 transition-colors delay-150"
      >Register Now</a
    >
  </div>
</nav>
