<nav
  class="sm:h-[91px] w-full flex flex-col sm:flex-row sm:justify-around sm:items-center"
>
  <div class="flex items-center py-3 sm:py-0 justify-around">
    <h1 class="mr-20 sm:mr-0 text-fs-p sm:text-fs-sm-title font-semibold">
      Speedo Transfer
    </h1>
    <svg
      class="block sm:hidden"
      (click)="toggleNavbar()"
      width="30px"
      height="30px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 18L20 18"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M4 12L20 12"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M4 6L20 6"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </div>
  <div class="hidden sm:flex flex-col sm:flex-row gap-2 sm:gap-4 font-medium">
    <a
      routerLink=""
      routerLinkActive="active-nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-center sm:text-left"
      >Home</a
    >
    <a
      routerLink="/transfer-money"
      routerLinkActive="active-nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-center sm:text-left"
      >Money Transfer</a
    >
    <a
      routerLink="/my-account"
      routerLinkActive="active-nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-center sm:text-left"
      >My Account</a
    >
  </div>
  <div
    *ngIf="!isLoggedIn()"
    class="hidden sm:flex flex-col items-center sm:flex-row gap-2 sm:gap-3"
  >
    <a
      routerLink="/login"
      class="border border-gray-1400 px-5 py-2 rounded-md font-medium hover:bg-primary-500 hover:text-white transition-colors delay-150 text-center sm:text-left"
      >Login</a
    >
    <a
      routerLink="/register"
      class="bg-primary-500 px-5 py-2 text-white rounded-md font-medium hover:bg-primary-600 transition-colors delay-150 text-center sm:text-left"
      >Register Now</a
    >
  </div>

  <div
    (click)="toggleUserSettings()"
    *ngIf="isLoggedIn()"
    class="hidden sm:flex font-semibold text-gray-1600 items-center gap-3 cursor-pointer relative"
  >
    <p
      class="text-fs-xs-title bg-gray-500 rounded-full p-6 w-[24px] h-[24px] flex justify-center items-center"
    >
      {{ firstName }}{{ lastName }}
    </p>
    <p class="text-fs-p">{{ currentUser?.username }}</p>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 13.06L16.933 8.12001L18.3509 9.52001L12 15.88L5.64908 9.52001L7.06705 8.12001L12 13.06Z"
        fill="#24221E"
      />
    </svg>
  </div>

  <div
    *ngIf="showUserSettings"
    (click)="$event.stopPropagation()"
    class="hidden sm:flex font-medium text-gray-1600 w-[241px] h-[320px] absolute bg-white right-[51px] top-[91px] z-30 shadow-lg flex-col gap-5 justify-around"
    #userSetting
  >
    <a
      (click)="toggleUserSettings()"
      routerLink="/my-account"
      class="mx-5 pb-5 border-b-2 cursor-pointer"
      >My Account</a
    >
    <a
      (click)="scrollTo('targetElement')"
      routerLink="/my-account/payments-history"
      class="mx-5 pb-5 border-b-2 cursor-pointer"
      >Payment History</a
    >
    <a
      (click)="scrollTo('targetElement')"
      routerLink="/my-account/settings"
      class="mx-5 pb-5 border-b-2 cursor-pointer"
      >Settings</a
    >
    <a
      (click)="scrollTo('targetElement')"
      routerLink="/my-account/change-password"
      class="mx-5 pb-5 border-b-2 cursor-pointer"
      >Change Password</a
    >
    <a (click)="onClickLogout()" class="mx-5 pb-5 cursor-pointer">Logout</a>
  </div>

  <!-- Navbar For Small Devices -->
  <div
    *ngIf="showNavbar"
    class="flex sm:hidden justify-between sm:flex-row gap-2 items-start px-10 sm:gap-4 mt-3 font-medium"
  >
    <div class="flex flex-col items-start mb-5">
      <a
        (click)="hideNavbar()"
        routerLink=""
        routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-center sm:text-left"
        >Home</a
      >
      <a
        (click)="hideNavbar()"
        routerLink="/transfer-money"
        routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-center sm:text-left"
        >Money Transfer</a
      >
      <a
        (click)="hideNavbar()"
        routerLink="/my-account"
        routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-center sm:text-left"
        >My Account</a
      >
      <a (click)="onClickLogout()" class="text-center sm:text-left">Logout</a>
    </div>
  </div>
  <div
    *ngIf="showNavbar && !isLoggedIn()"
    class="flex sm:hidden flex-col items-start px-10 sm:flex-row gap-2 sm:gap-3 mt-3 sm:mt-0"
  >
    <a
      routerLink="/login"
      class="border border-gray-1400 px-5 py-2 rounded-md font-medium hover:bg-primary-500 hover:text-white transition-colors delay-150 text-center sm:text-left"
      >Login</a
    >
    <a
      routerLink="/register"
      class="bg-primary-500 px-5 py-2 text-white rounded-md font-medium hover:bg-primary-600 transition-colors delay-150 text-center sm:text-left mb-5 sm:mb-0"
      >Register Now</a
    >
  </div>
</nav>
