<div class="flex items-center justify-between w-full pr-4 pt-6 px-5">
  <h1 class="text-2xl font-bold text-gray-1800 ml-8">Speedo Transfer</h1>
  <a class="flex items-center" routerLink="/">
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.01 22.99L16.001 16L22.99 22.99M22.99 9.00902L16 16L9.01 9.00902"
        stroke="#24221E"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </a>
</div>

<div class="flex flex-col my-10 justify-between items-center">
  <p class="text-fs-md-title font-semibold mb-2">Login</p>
  <p class="text-gray-1400 mb-0 sm:mb-10">
    New Account?
    <a
      class="font-medium underline hover:text-primary-500 transition-colors delay-150"
      routerLink="/register"
      >Sign Up</a
    >
  </p>

  <div class="flex flex-col shadow-lg p-10 gap-5">
    <p class="text-fs-xs-title sm:text-fs-sm-title font-semibold">Login Here</p>
    <p class="text-gray-1400 text-fs-small sm:text-base">
      Welcom back.Login to your account
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-2 mb-5">
        <label class="text-gray-1600 text-fs-small sm:text-base" for="email"
          >Your Email Address</label
        >
        <input
          formControlName="email"
          id="email"
          type="email"
          placeholder="Email@gmail.com"
          class="input"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            !loginForm.get('email')?.value &&
            (loginForm.get('email')?.touched || loginForm.dirty)
          "
        >
          <p class="text-red-500 text-sm">Email is required</p>
        </div>
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            loginForm.get('email')?.errors?.['email'] &&
            (loginForm.get('email')?.touched || loginForm.dirty)
          "
        >
          <p class="text-red-500 text-sm">
            Please Enter an Email With &commat;
          </p>
        </div>
      </div>
      <div class="flex flex-col relative gap-2">
        <label class="text-gray-1600 text-fs-small sm:text-base" for="password"
          >Password</label
        >
        <input
          formControlName="password"
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="************"
          class="input mb-2"
        />
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            !loginForm.get('password')?.value &&
            (loginForm.get('password')?.touched || loginForm.dirty)
          "
        >
          <p class="text-red-500 text-sm">Password is required</p>
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.errors?.['minlength'] &&
            (loginForm.get('password')?.touched || loginForm.dirty)
          "
        >
          <p class="text-red-500 text-sm">Minimum Length 3 Characters</p>
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.errors?.['maxlength'] &&
            (loginForm.get('password')?.touched || loginForm.dirty)
          "
        >
          <p class="text-red-500 text-sm">Maxmimum Length 16 Characters</p>
        </div>
        <svg
          *ngIf="showPassword"
          (click)="toggleShowPassword()"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-4 top-10 sm:right-5 sm:top-12 cursor-pointer"
        >
          <path
            d="M15.58 12C15.58 13.98 13.98 15.58 12 15.58C10.02 15.58 8.42 13.98 8.42 12C8.42 10.02 10.02 8.41998 12 8.41998C13.98 8.41998 15.58 10.02 15.58 12Z"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39997C18.82 5.79997 15.53 3.71997 12 3.71997C8.47 3.71997 5.18 5.79997 2.89 9.39997C1.99 10.81 1.99 13.18 2.89 14.59C5.18 18.19 8.47 20.27 12 20.27Z"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <svg
          *ngIf="!showPassword"
          (click)="toggleShowPassword()"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute right-4 top-10 sm:right-5 sm:top-12 cursor-pointer"
        >
          <path
            d="M14.53 9.46998L9.47 14.53C8.82 13.88 8.42 12.99 8.42 12C8.42 10.02 10.02 8.41998 12 8.41998C12.99 8.41998 13.88 8.81998 14.53 9.46998Z"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.82 5.76998C16.07 4.44998 14.07 3.72998 12 3.72998C8.47 3.72998 5.18 5.80998 2.89 9.40998C1.99 10.82 1.99 13.19 2.89 14.6C3.68 15.84 4.6 16.91 5.6 17.77"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M8.42 19.53C9.56 20.01 10.77 20.27 12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39999C20.78 8.87999 20.42 8.38999 20.05 7.92999"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.51 12.7C15.25 14.11 14.1 15.26 12.69 15.52"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9.47 14.53L2 22"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M22 2L14.53 9.47"
            stroke="#3B3936"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <button class="submit-btn">Login</button>
      </div>
    </form>

    <p class="text-gray-1400 text-fs-small sm:text-base">
      Don't have an account?
      <a class="font-medium text-primary-500 underline" routerLink="/register"
        >Create Account</a
      >
    </p>
  </div>
</div>

<div class="footer mt-20">
  <p class="text-gray-140 text-center py-3 bg-pink-50">
    &copy; Speedo Transfer Payments Limited 2024
  </p>
</div>
