.Money_transfer {
  position: relative;
  min-height: 404px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.Money_transfer .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/assets/img/Breadcrumb_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 5%;
  z-index: -1;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

svg {
  fill: currentColor;
}

input {
  border: 1px solid #b0afae;
}

.bankIcon {
  width: 50px;
  height: 50px;
  background-color: #e3e2e2;
  border-radius: 50%;
}

.feesPrice {
  background-color: #e3e2e2;
  padding: 4px 20px;
  border-radius: 20px;
}

.lineUp1 {
  padding-left: 60px;
}

@media (max-width: 630px) {
  input {
    height: 55px !important;
  }
}

@media (max-width: 768px) {
  .warp {
    flex-wrap: wrap;
  }

  input,
  button {
    width: 300px;
  }

  .flex-1 {
    flex: 1;
  }

  .Money_transfer {
    padding: 0;
  }

  .lineUp {
    width: 300px;
    margin-left: 15px;
  }

  .lineUp1 {
    padding-left: 15px !important;
  }
}

@media (max-width: 640px) {
  input {
    height: 48px;
    font-size: 14px;
  }

  button {
    height: 48px;
    font-size: 14px;
  }
}

@media (min-width: 641px) {
  input {
    height: 56px;
    font-size: 16px;
  }

  button {
    height: 56px;
    font-size: 16px;
  }
}
