<footer
  class="h-[424px] bg-primary-700 text-white flex flex-col justify-center py-12 text-center"
>
  <div class="flex flex-col gap-8 border-b border-gray-1000 mb-5">
    <p class="font-semibold text-fs-sm-title">Speedo Transfer</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <p class="font-bold text-fs-p">Contact Info</p>
    <p>
      <span class="font-medium">Email:</span>BM00000&commat;Speedo Transfer .com
    </p>
    <p class="mb-16"><span class="font-medium">Phone:</span>00000</p>
  </div>
  <div class="flex items-center justify-center">
    <p>All Rights Reserved for Speedo Transfer ©2024</p>
  </div>
</footer>
