<div>
  <p class="font-semibold text-fs-xs-title mb-8">Change Password</p>
  <form
    (ngSubmit)="changePasswordFormSubmit()"
    [formGroup]="changePasswordForm"
    class="grid grid-cols-1 sm:grid-cols-2 mt-10 gap-10"
  >
    <div class="flex flex-col gap-3">
      <label for="">Current Password</label>
      <input
        type="password"
        class="setting-input"
        placeholder="Type Here"
        formControlName="currentPassword"
      />
      <div
        *ngIf="
          changePasswordForm.get('currentPassword')?.invalid &&
          !changePasswordForm.get('currentPassword')?.value &&
          (changePasswordForm.get('currentPassword')?.touched ||
            changePasswordForm.dirty)
        "
      >
        <p class="text-red-500 text-sm">Current Password is required</p>
      </div>
      <div
        *ngIf="
          changePasswordForm.get('currentPassword')?.invalid &&
          changePasswordForm.get('currentPassword')?.errors?.['minlength'] &&
          (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.dirty)
        "
      >
        <p class="text-red-500 text-sm">Minimum Length 3 Characters</p>
      </div>
      <div
        *ngIf="
        changePasswordForm.get('currentPassword')?.invalid &&
        changePasswordForm.get('currentPassword')?.errors?.['maxlength'] &&
          (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.dirty)
        "
      >
        <p class="text-red-500 text-sm">Maxmimum Length 16 Characters</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <label for="">New Password</label>
      <input
        type="password"
        class="setting-input"
        placeholder="Type Here"
        formControlName="newPassword"
      />
      <div
        *ngIf="
          changePasswordForm.get('newPassword')?.invalid &&
          !changePasswordForm.get('newPassword')?.value &&
          (changePasswordForm.get('newPassword')?.touched ||
            changePasswordForm.dirty)
        "
      >
        <p class="text-red-500 text-sm">New Password is required</p>
      </div>
      <div
        *ngIf="
        changePasswordForm.get('newPassword')?.invalid &&
        changePasswordForm.get('newPassword')?.errors?.['maxlength'] &&
          (changePasswordForm.get('newPassword')?.touched || changePasswordForm.dirty)
        "
      >
        <p class="text-red-500 text-sm">Maxmimum Length 16 Characters</p>
      </div>
    </div>
    <button
      class="w-[174px] h-[56px] bg-primary-500 font-medium text-white rounded-md"
    >
      Update Password
    </button>
  </form>
</div>
